body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

/* Users Section */
.users {
    width: 15%;
    background-color: #121212;
    padding: 10px;
    box-sizing: border-box;
}

.users h3 {
    margin: 0;
    margin-bottom: 10px;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 10px;
}

.user span {
    font-size: 1rem;
}

/* Main Meeting Area */
.main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.meeting-info {
    text-align: center;
    margin-bottom: 10px;
}

.video-grid {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.video-card {
    background-color: #2b2b3d;
    border-radius: 5px;
    height: 150px;
    flex: 1;
    position: relative;
    max-width: 250px;
}

.video {
    display: flex;
    flex-direction: column;
    background-color: #3b3b4d;
    height: 100%;
    border-radius: 5px;
}

.video-footer {
    padding: 10px;
    padding-bottom: 5px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mute-icon img {
    width: 15px;
    height: 15px;
}

/* Presentation Area */
.presentation {
    background-color: #2b2b3d;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* Chat Section */
.chat {
    width: 20%;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.chat h3 {
    margin: 0;
    margin-bottom: 10px;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.chat-message {
    display: flex;
    margin-bottom: 10px;
}

.message-content {
    margin-left: 10px;
}

.message-content span {
    font-size: 0.9rem;
    color: #ccc;
}

.message-content p {
    margin: 5px 0 0;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2b2b3d;
    color: #fff;
    width: 95%;
}