<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference test</title>

    <style>
        span {
            color: white
        }

        body {
            background-color: rgb(10, 10, 10);
        }
    </style>
</head>

<body>
    <input type="text" id="room-token">
    
    <button id="connect">Connect</button>
    <button id="disconnect" style="margin-right: 20px;">Disconnect</button>

    <button id="connect-audio">Connect with audio</button>
    <button id="connect-mic">Connect with microphone</button>

    <br>

    <button id="toggle-mic">Unmute</button>
    <button id="toggle-cam">Turn camera on</button>

    <br>
    
    <div id="videos">
    </div>

    <div id="mics">
    </div>

    <span id="reply"></span>
</body>

<script src="{% static 'conference/js/testing.js' %}"></script>
<script src="{% static 'common/js/requests.js' %}"></script>

</html>