<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'common/img/Logo.ico' %}">

    <title id="title">Conference</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'conference/css/main.css' %}">
</head>

<body>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>

    <div class="audios">
        <audio src="{% static 'conference/audio/MessageSent.mp3' %}" id="send-sound" src,preload="auto"></audio>
        <audio src="{% static 'conference/audio/MessageReceived.mp3' %}" id="receive-sound" src,preload="auto"></audio>
        <audio src="{% static 'conference/audio/Error.mp3' %}" id="error-sound" src,preload="auto"></audio>
        <audio src="{% static 'conference/audio/ConferenceStart.mp3' %}" id="start-sound" src,preload="auto"></audio>
        <audio src="{% static 'conference/audio/ConferenceEnd.mp3' %}" id="end-sound" src,preload="auto"></audio>
    </div>

    <div class="background-hide" id="background-transition"></div>
    <div id="alert-container"></div>

    <div class="overlay" id="connectionOverlay">
        <div class="popup">
            <h3>Select your connection type</h3>
            <div>
                <button class="selection-btn btn btn-lg" id="connectMic">
                    <img src="{% static 'conference/img/microphone.png' %}" alt="Microphone" class="icon">
                    <span class="info">Microphone</span>
                </button>
                <button class="selection-btn btn btn-lg" id="connectAudio">
                    <img src="{% static 'conference/img/headphones.png' %}" alt="Headphones" class="icon">
                    <span class="info">Listen</span>
                </button>
            </div>
        </div>
    </div>

    <div class="overlay" id="textOverlay">
        <div class="popup">
            <h3 class="header">Oops, an error has occured.</h3>
            <span class="bottom-text"></span>
            <div class="waiting-host">
                <img src="/user/get_pfp/?user_id=-1" alt="">
                <span>Waiting for the host to start the conference...</span>
            </div>
            <div class="yes-no-timed">
                <button class="btn btn-primary btn-no">No</button>
                <button class="btn btn-danger btn-yes" disabled>Yes</button>
            </div>
            <button class="btn btn-primary" id="start-conference-btn">Start conference</button>
        </div>
    </div>

    <div class="camera-frame-container">
        <div class="camera-frame d-flex align-items-center p-3 bg-dark rounded">
            <div class="camera-preview me-3">
                <video id="videoPreview" autoplay class="w-100 rounded border border-secondary"></video>
            </div>
            <button class="close-btn btn btn-danger btn-sm mb-2" id="close-camera-selector">&times;</button>
            <div class="camera-controls ms-auto d-flex flex-column justify-content-between align-items-center">
                <select id="cameraSelect" class="mb-2 btn">
                </select>
                <button id="start-camera-button" class="btn btn-success mt-2">Start Sharing</button>
            </div>
        </div>
    </div>

    <div id="mics"></div>

    <div class="main-container">
        <div class="users">
            <div class="users-header">
                <button class="users-close-btn">
                    <img src="{% static 'conference/img/up_arrow.png' %}" alt="Close">
                </button>
                <span>Users</span>
            </div>
            <div class="user-list" id="user-list"></div>
        </div>

        <main class="main-area">
            <div class="meeting-info">
                <button class="open-button" id="users-btn">
                    <img src="{% static 'conference/img/users.png' %}" alt="Users">
                </button>
                <button class="open-button" id="chat-btn">
                    <img src="{% static 'conference/img/chat.png' %}" alt="Users">
                </button>
                <h2 id="conference-name">Meeting Name</h2>
                <div class="conference-info">
                    <span id="meeting-duration"> 00:00 </span>
                    <button id="stop-conference"> - End conference </button>
                </div>
            </div>

            <div class="video-grid" id="videos"></div>

            <div class="presentation">
                <div id="screenshare-frame">
                    <video id="screen-share-video" class="screenshare-video"></video>
                    <audio id="screen-share-audio"></audio>
                </div>
                <p>No presentation loaded yet.</p>
            </div>

            <div class="controls">
                <div class="drop-up-container">
                    <button class="btn-control" data-tooltip="Unmute" id="toggleMic">
                        <img src="{% static 'conference/img/microphone.png' %}" alt="" class="icon">
                    </button>

                    <button class="drop-up-btn">
                        <img src="{% static 'conference/img/up_arrow.png' %}" alt="" class="icon">
                    </button>
                    <div class="dropup-menu" id="micSelect"></div>
                </div>

                <button class="btn-control" data-tooltip="Turn on camera" id="toggleCam">
                    <img src="{% static 'conference/img/video-camera.png' %}" alt="" class="icon">
                </button>

                <button class="btn-control" data-tooltip="Share your screen" id="screenShare" style="display: none;">
                    <img src="{% static 'conference/img/screenshare.png' %}" alt="" class="icon">
                </button>
            </div>
        </main>

        <div class="frame-container">
            <div class="frame-header">
                <button class="frame-close-btn">
                    <img src="{% static 'conference/img/up_arrow.png' %}" alt="Close">
                </button>
                <span>Chat</span>
            </div>
            <div class="frame-body" id="chat-body">
            </div>
            <div class="frame-footer">
                <input type="text" id="chat-input" class="form-control" placeholder="Type a message...">
                <button id="send-btn" class="btn btn-primary"></button>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="{% static 'common/js/requests.js' %}"></script>

<script src="{% static 'conference/js/client/utils.js' %}"></script>
<script src="{% static 'conference/js/client/alerts.js' %}"></script>
<script src="{% static 'conference/js/client/users.js' %}"></script>
<script src="{% static 'conference/js/client/permissions.js' %}"></script>
<script src="{% static 'conference/js/client/microphone.js' %}"></script>
<script src="{% static 'conference/js/client/camera.js' %}"></script>
<script src="{% static 'conference/js/client/websocket.js' %}"></script>
<script src="{% static 'conference/js/client/webrtc.js' %}"></script>
<script src="{% static 'conference/js/client/screenshare.js' %}"></script>
<script src="{% static 'conference/js/client/chat.js' %}"></script>

<script src="{% static 'conference/js/html5client.js' %}"></script>

</html>