<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project: Educate</title>
    
    <link rel="stylesheet" href="{% static 'LoginPage/style.css' %}">
</head>

<body>
    <div class="session">
        <div class="left">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg enable-background="new 0 0 300 302.5" version="1.1" viewBox="0 0 300 302.5" xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg">
                <style type="text/css">
                    .st0 {
                        fill: #fff;
                    }
                </style>
           </svg>
        </div>
        <form action="" class="log-in" autocomplete="off">
            <h4>Project <span>EDUCATE</span></h4>
            <p>Welcome back! Log in to your account to access the main page! (This is a temporary login form)</p>
            <div class="floating-label">
                <input placeholder="Username" type="text" name="username" id="username" autocomplete="off">
                <label for="username">Username:</label>
            </div>
            <div class="floating-label">
                <input placeholder="Password" type="password" name="password" id="password" autocomplete="off">
                <label for="password">Password:</label>
            </div>
            <p id="warn_text">Invalid username or password.</p>
            <button type="submit" onClick="return false;" id="submit_form">Log in</button>
        </form>
    </div>
</body>
    
{% csrf_token %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>

<script src="{% static 'LoginPage/login.js' %}"></script>
<script src="{% static 'common/js/requests.js' %}"></script>

</html>