{% extends 'base.html' %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'user/profile.css' %}">

{% endblock %}


{% block content %}

<div class="change-frame-overlay" id="passwordChangeOverlay">
    <div class="change-frame">
        <h4>Change Password</h4>
        <form id="passwordChangeForm">
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" id="oldPassword" class="form-control" placeholder="Enter old password">
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" class="form-control" placeholder="Enter new password">
            </div>
            <div class="form-group">
                <label for="repeatNewPassword">Repeat New Password</label>
                <input type="password" id="repeatNewPassword" class="form-control" placeholder="Repeat new password">
            </div>

            <span class="error-text"></span>
            <br>

            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-secondary close-frame">Cancel</button>
        </form>
    </div>
</div>

<div class="change-frame-overlay" id="usernameChangeOverlay">
    <div class="change-frame">
        <h4>Change Username</h4>
        <div id="emailChangeForm">
            <div class="form-group">
                <label for="newUsername">New Username</label>
                <input type="text" id="newUsername" class="form-control" placeholder="Enter new username" maxlength="50">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Enter your password">
            </div>
            <span class="error-text"></span>
            <br>
            <button type="submit" class="btn btn-success" id="save_username">Save</button>
            <button type="button" class="btn btn-secondary close-frame">Cancel</button>
        </div>
    </div>
</div>

<div class="change-frame-overlay" id="emailChangeOverlay">
    <div class="change-frame">
        <h4>Change Email</h4>
        <form id="usernameChangeForm">
            <div class="form-group">
                <label for="newUsername">New Email</label>
                <input type="text" id="newEmail" class="form-control" placeholder="Enter new email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="email_password" class="form-control" placeholder="Enter your password">
            </div>
            <span class="error-text"></span>
            <br>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-secondary close-frame">Cancel</button>
        </form>
    </div>
</div>

<div class="change-frame-overlay" id="profilePicChangeOverlay">
    <div class="change-frame">
        <h4>Change Profile Picture</h4>
        <div class="cropped-preview-container" style="display: none;">
            <div class="cropped-preview">
                <img id="croppedImagePreview" src="#" alt="Cropped Preview">
            </div>
        </div>
        <input type="file" id="profilePicInput" accept="image/*" class="form-control-file">
        <span class="error-text"></span>
        <br>
        <button type="button" class="btn btn-success" id="saveProfilePic">Save</button>
        <button type="button" class="close-frame btn btn-secondary"">Cancel</button>
    </div>
</div>

<div class="profile-section">
    <div class="profile-overview">
        <button id="openProfilePicChange">
            <span class="pfp_change_text">Change</span>
            <img src="/user/get_pfp/?user_id=-1" alt="Profile Picture">
        </button>
        <h2 id="profile_username"></h2>
    </div>

    <div class="profile-tabs">
        <button class="profile-tab-button selected" id="btn_profile">Profile</button>
        <button class="profile-tab-button" id="btn_security">Security</button>
        <button class="profile-tab-button" id="btn_etc">Etc</button>
    </div>

    <div class="profile-tab-sections">
        <div class="profile-tab-section" id="tab_profile" style="display: block;">
            <div class="profile-info">
                <label>Username:</label>
                <span id="username"></span>
                <button class="edit-button" id="openUsernameChange"><img src="{% static 'user/edit_icon.png' %}"
                        alt="Edit" class="icon-edit"></button>
            </div>

            <div class="profile-info">
                <label>Email:</label>
                <span id="email"></span>
                <button class="edit-button" id="openEmailChange"><img src="{% static 'user/edit_icon.png' %}" alt="Edit"
                        class="icon-edit"></button>
            </div>

            <div class="profile-info" style="margin-bottom: 0px;">
                <label>Profile description:</label>
            </div>

            <textarea id="description" maxlength="350"
                class="form-control profile-description mb-3 profile-description"></textarea>

            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" id="save_description">Save</button>
            </div>
        </div>

        <div class="profile-tab-section" id="tab_security">
            <div class="profile-info">
                <label>Password:</label>
                <span>*******</span>
                <button class="edit-button" id="openPasswordChange"><img src="{% static 'user/edit_icon.png' %}"
                        alt="Edit" class="icon-edit"></button>
            </div>
        </div>

        <div class="profile-tab-section" id="tab_etc">

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'user/profile.js' %}"></script>

{% endblock %}