{% extends 'base.html' %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'user/profile.css' %}">

{% endblock %}


{% block content %}

<div class="profile-section">
    <div class="profile-overview">
        <img src="/user/get_pfp/?user_id=-1" alt="Profile Picture">
        <h2 id="profile_username">username</h2>
    </div>

    <div class="profile-tabs">
        <button class="profile-tab-button selected" id="btn_profile">Profile</button>
        <button class="profile-tab-button" id="btn_security">Security</button>
        <button class="profile-tab-button" id="btn_etc">Etc</button>
    </div>

    <div class="profile-tab-sections">
        <div class="profile-tab-section" id="tab_profile" style="display: block;">
            <div class="profile-info">
                <label>Username:</label>
                <span>admin</span>
                <button class="edit-button"><img src="{% static 'user/edit_icon.png' %}" alt="Edit" class="icon-edit"></button>
            </div>
            
            <div class="profile-info">
                <label>Email:</label>
                <span>admin@gmail.com</span>
                <button class="edit-button"><img src="{% static 'user/edit_icon.png' %}" alt="Edit" class="icon-edit"></button>
            </div>
            
            <div class="profile-info" style="margin-bottom: 0px;">
                <label>Profile description:</label>
            </div>
            
            <textarea class="profile-description">Hello world!</textarea>
        </div>

        <div class="profile-tab-section" id="tab_security">

        </div>

        <div class="profile-tab-section" id="tab_etc">

        </div>
    </div>
</div>

{% endblock %}